<br>
<h2><%= @task.title.capitalize %></h2>
<div>
  <ul style="list-style-type:none;">
    <li>
      <p><strong>Details:</strong></p>
    </li>
    <li>
      <p><%= @task.details %></p>
    </li>
  </ul>
</div>
<div>
  <ul style="list-style-type:none;">
  <% if @task.completed == nil || @task.completed == false %>
    <% comp = "far fa-circle" %>
    <% message = "This task is not completed yet" %>
  <% elsif @task.completed == true %>
    <% comp = "fas fa-check-circle" %>
    <% message = "This task is completed" %>
  <% end %>
    <li>
      <i class="<%= comp %>"></i> <%= message %>
    </li>
    <br>
  </ul>
</div>
<br>
<p><%= link_to("Return to index", tasks_path) %></p>
<br>
